<div class="list-group">
    <section class="Confirm">

        <div class="Confirm-Header">
            <!--<a class="Confirm-Header-Button Confirm-Header-Button_Close" href="javascript: void(0)"></a>-->
            <!--<a class="Confirm-Header-Button Confirm-Header-Button_Minimize" href="javascript: void(0)"></a>-->
            <!--<a class="Confirm-Header-Button Confirm-Header-Button_Maximize" href="javascript: void(0)"></a>-->
            <h1 class="Confirm-Header-Title"></h1>
        </div>

        <div class="Confirm-Body">
            <figure class="Boi">
                <div class="Boi-Blush Boi-Blush_L"></div>
                <div class="Boi-Blush Boi-Blush_R"></div>
                <div class="Boi-Eye Boi-Eye_L"></div>
                <div class="Boi-Eye Boi-Eye_R"></div>
                <div class="Boi-Mouth"></div>
            </figure>
            <a style="margin-left: -200px;margin-top: 0px" class="Confirm-Body-Button Confirm-Body-Button_Cancel" href="javascript: void(0)"></a>
            <a style="margin-right: -200px;" class="Confirm-Body-Button Confirm-Body-Button_Delete" href="javascript: void(0)"></a>
        </div>
    </section>

    <script src="js/script.js"></script>
</div>